{% extends "base.html" %}
  {% block title %}
 -- FAQs
  {% endblock %}
  {% block navbar %}
  {% endblock %}
  {% block content %}
    <article class="container">
      <section>
        <h3>
          Frequently Asked Questions...
        </h3>
          <details>
            <summary>
              What is GymBunnies?
            </summary>
              <p>
                It's a free online tool that allows you to track the progress of your workouts and connect with other like-minded individuals.
              </p>
          </details>
          <details>
            <summary>
              Do you charge for the service you offer?
            </summary>
              <p>
                No, we are 100% free!
              </p>
          </details>
          <details>
            <summary>
              Can I work for you?
            </summary>
              <p>
                Sorry, we are not currently recruiting.
              </p>
          </details>
          <details>
            <summary>
              Why can't I upload a photo?
            </summary>
              <p>
                We're working on it!
              </p>
          </details>
          <details>
            <summary>
              Will you make me a website just like yours?
            </summary>
              <p>
                Computer says no.
              </p>
          </details>
      </section>
    <br>
    <br>
    </article>
    {% endblock %}