{% extends "base.html" %}
  {% block title %}
  -- Your Workouts
  {% endblock %}
  {% block navbar %}  
  {% endblock %}
  {% block content %}
<!-- Start of page -->
  <div class="profile">
<!-- Container for page - enables stacking of divs on small screen -->
    <div class="profile_r-container">
<!-- Start of left hand side of page -->
      <div class="profile_left">
<!-- Jinja function to transfer flash messages from routing to template -->
        {% if 'flash_messages' in session %}
        {% for message in session['flash_messages'] %}
          <div class="alert alert-{{ message[1] }}" role="alert">
              {{ message[0] }}
          </div>
        {% endfor %}
        {% set _ = session.pop('flash_messages', None) %}
        {% endif %}
        <br>
        <br>
<!-- Jinja function to prevent visiting users from editing the page -->
        {% if user.id == current_user.id %}
            <a href="{{ url_for('views.add_workout', user_id=current_user.id) }}" class="add-workout-card fa-solid fa-circle-plus">
              <h5 class="tourney-logo">
                Add Workout
              </h5>
            </a>
            {% else %}
        {% endif %}
          <article class="container">
            <section>
              <h3>
                {{ user.first_name }}'s Workouts
              </h3>
<!-- Jinja function to display user added workouts (sorted bewest first) -->
              {% for workout in workouts | sort(attribute="workout_date") | reverse %}
              <details>
                <summary>
                  {{ workout.workout_date.strftime('%d-%B-%Y') }}: 
                  <strong>
                    {{ workout.workout_type }}
                    {% if workout.workout_duration %}
                    , {{ workout.workout_duration }} min
                    {% endif %}
                  </strong>
<!-- Jinja function to prevent visiting users from editing the page -->
                  {% if user.id == current_user.id %}
                  <a href="{{ url_for('views.edit_workout', workout_id=workout.id) }}" class="right">Edit
                    <i class="fa-solid fa-pen-to-square modal-trigger"></i>
                  </a>
                  {% else %}
                  {% endif %}
                </summary>
<!-- Jinja functions to display user added exercises depending on info provided by user -->
                {% if workout.exercises %}
                  {% for exercise in workout.exercises %}
                    <p>
                      {% if exercise.exercise_type %}
                        <span class="bold">
                          Exercise: {{ exercise.exercise_type }}
                        </span>
                      {% endif %}
                      {% if exercise.weight %}
                    <br>
                        Weight: {{ exercise.weight }} Kg
                      {% endif %}
                      {% if exercise.reps %}
                    <br>
                    Reps: {{ exercise.reps }}
                      {% endif %}
                      {% if exercise.sets %}
                    <br>
                    Sets: {{ exercise.sets }}
                      {% endif %}
                      {% if exercise.distance %}
                    <br>
                    Distance: {{ exercise.distance }} m
                      {% endif %}
<!-- Jinja function to prevent visiting users from editing the page -->
                      {% if user.id == current_user.id %}
                    <a href="{{ url_for('views.edit_exercise', exercise_id=exercise.id) }}" class="right">Edit
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                      {% else %}
                      {% endif %}
                  {% endfor %}
                  {% else %}
<!-- Jinja function to prevent visiting users from editing the page -->
                  {% endif %}
                  {% if user.id == current_user.id %}
                    <p>
                      Add exercise 
                        <a href="{{ url_for('views.add_exercise', workout_id=workout.id) }}">
                          <i style="font-size: 16px;padding-left:10px;" class="fa-solid fa-circle-plus"></i>
                        </a>
                    </p>
                  {% else %}
                  {% endif %}
              </details>
              {% endfor %}
            </section>
<!-- End of list of workouts -->
          </article>
      </div>
<!-- Start of right hand side content -->
      <div class="profile_right">
    <br>
    <br>
<!-- User's personal info box -->
      <div class="user-card bold">
<!-- Jinja used to display user's details if provided -->
        <h5>
          {{user.first_name}} {{user.last_name}}
        </h5>
<!-- If gym not provided, jinja used to hide display -->
        {% if user.gym %}
        <p>
          Gym: {{ user.gym }}
        </p>
        {% endif %}
<!-- If DOB not provided, jinja used to hide display -->
        {% if user.calculate_age() %}
        <p>
          Age: {{ user.calculate_age() }}
        </p>
        {% endif %}
<!-- If user viewing profile is not a connection, jinja used to hide display -->
        {% if user.id == current_user.id or user_is_connected %}
<!-- If phone number not provided, jinja used to hide display -->
          {% if user.phone %}
<!-- If connected user viewing on phone, jinja used to enable phone link -->
            {% if is_mobile %}
              <p>
                Phone: <a href=”tel:{{ user.phone }}">{{ user.phone }}</a></p>
                {% else %}
<!-- If connected user viewing on computer, jinja used to disable phone link -->
                  {{ user.phone }}
            {% endif %}
          {% endif %}
        {% endif %}
        </div>
      <br>
<!-- User's site info box -->
        <div class="stats-card bold">
          <p>
            <a href="{{ url_for('views.view_user_connections', user_id=user.id) }}">
<!-- Jinja used to display user's site stats -->
              {{ user.first_name }}'s Connections
            </a>
              : {{ total_user_connections }}
          </p>
          <p>
            {{ user.first_name }}'s Workouts : {{ total_workouts }}
          </p>
        </div>
<!-- Jinja used to display button to enable user to update profile -->
        {% if user.id == current_user.id %}
          <a href="{{ url_for('views.edit_user', user_id=current_user.id) }}" type="submit" class="btn btn-primary edit">
            Update Profile
          </a>
        {% else %}
          {% if user_is_connected %}
<!-- If profile being visited by connected user, Jinja used to display button to enable vistor to disconnect from profile owner -->
            <form action="{{ url_for('views.remove_connection') }}" method="POST">
              <input type="hidden" name="connected_user_id[]" value="{{ user.id }}">
                <button type="submit" class="btn red darken-4 white-text">
                  Remove {{ user.first_name }}
                </button>
            </form>
          {% else %}
<!-- Jinja used to display confirmation of connection request made by an unconnected user -->
            {% if connection_request_sent %}
              <p>
                Request Sent
              </p>
            {% else %}
<!-- Jinja used to notify visitor of an incoming connection request from profile owner -->
              {% if pending_connection_request %}
                <p>
                  Pending Request
                </p>
              {% else %}
<!-- If profile being visited by unconnected user, Jinja used to display button to enable vistor to connect with user -->
                <form action="{{ url_for('views.add_connection') }}" method="POST">
                  <input type="hidden" name="connected_user_id" value="{{ user.id }}">
                    <button type="submit" class="btn btn-primary">
                      Connect with {{ user.first_name }}
                    </button>
                </form>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      <br>
      <br>
      </div>
  {% endblock %}