{% extends "base.html" %}
  {% block title %}
   -- Login
  {% endblock %}
  {% block navbar %}
  {% endblock %}
  {% block content %}
<!-- Start of page -->
  <div class="login">
<br>
<br>
<!-- Container for page - enables stacking of divs on small screen -->
    <div class="login_r-container">
<!-- Start of left hand side of page -->
      <div class="login_left">
        <div class="login-card">
<!-- Login Form -->
          <form method="POST" enctype="multipart/form-data">
            <h3>
              Login
            </h3>
              <label for="email">
                Email Address
              </label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter email.." 
                autocomplete="on">
              <label for="password">
                Password
              </label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password..">
            <br>
            <br>
              <button type="submit" class="btn btn-primary left">
                Login
              </button>
              <p class="right">
                Forgotten your password? 
                <a href="{{ url_for('auth.forgotten_password') }}" aria-label="A link to reset a forgotten password">
                  Click here
                </a>
              </p>
<!-- End of Login Form -->
          </form>
          <br>
          <br>
        </div>
      <br>
      <br>
      </div>
<!-- Start of right hand side content displaying logo -->
      <div class="login_right">
        <i class="fa-solid fa-heart-pulse fa-bounce"></i>
      </div>
  {% endblock %}