{% extends "base.html" %}
      {% block title %}
       -- Press Releases
      {% endblock %}
      {% block navbar %}
      {% endblock %}
      {% block content %}
            <article class="container">
                  <h3>
                        Press Releases
                  </h3>
                        <time datetime="2023-02-03 10:00">
                              10:00, Monday 3 February 2023
                        </time>
                  <br>
                        <a href="#" target="about_blank" aria-label="GymBunnies RELEASE UNSEEN FOOTAGE OF BRAND NEW WEBSITE. File opens in new tab">
                              GymBunnies RELEASE UNSEEN FOOTAGE OF BRAND NEW WEBSITE
                        </a>
                  <br>
                  <br>
                        <time datetime="2023-02-28 10:00">
                              10:00, Wednesday 28 February 2023
                        </time>
                  <br>
                              <a href="#" target="about_blank" aria-label="GymBunnies RELEASE SNEAK PEAK OF MEDIA QUERY PAGE. File opens in new tab">
                                    GymBunnies RELEASE SNEAK PEAK OF MEDIA QUERY PAGE
                              </a>
                  <br>
                  <br>
                        <time datetime="2023-04-09 10:00">
                              10:00, Monday 9 April 2023
                        </time>
                  <br>
                              <a href="#" target="about_blank" aria-label="GymBunnies PLAN TO DISPLAY COMPANY INFO ON NEW WEBSITE. File opens in new tab">
                                    GymBunnies PLAN TO DISPLAY COMPANY INFO ON NEW WEBSITE
                              </a>
                  <br>
                  <br>
                        <time datetime="2023-05-10 10:00">
                              10:00, Wednesday 10 May 2023
                        </time>
                  <br>
                              <a href="#" target="about_blank" aria-label="GymBunnies TO ALLOW FOR QUESTIONS ON NEW WEBSITE. File opens in new tab">
                                    GymBunnies TO ALLOW FOR QUESTIONS ON NEW WEBSITE
                              </a>
            </article>
            <br>
            <br>
      {% endblock %}