{% extends "base.html" %}
  {% block title %}
   -- Update Password
  {% endblock %}
  {% block navbar %}
  {% endblock %}
  {% block content %}
<!-- Start of page -->
  <div class="login">
<br>
<br>
<!-- Container for page - enables stacking of divs on small screen -->
  <div class="login_r-container">
<!-- Start of left hand side of page -->
    <div class="login_left">
      <div class="login-card">
<!-- Start of form -->
        <form action="{{ url_for('auth.update_password') }}" method="POST" enctype="multipart/form-data">
          <h3>
            Update Password
          </h3>
            <p>
              Please create a new password.
            </p>
              <label for="password1">
                Password
              </label>
              <input
              type="password"
              id="password1"
              name="password1"
              placeholder="Enter password..">
              <label for="password2">Password (Confirm)</label>
              <input
              type="password"
              id="password2"
              name="password2"
              placeholder="Confirm password..">
            <br>
            <br>
<!-- Submit Button -->
              <button type="submit" class="btn btn-primary">
                Update Password
              </button>
        </form>
<!-- End of forgot password Form -->
      </div>
    <br>
    <br>
      </div>
<!-- Start of right hand side content displaying logo -->
      <div class="login_right">
        <i class="fa-solid fa-heart-pulse fa-bounce"></i>
      </div>
  {% endblock %}