{% extends "base.html" %}
    {% block title %}
     -- Privacy Statement
    {% endblock %}
    {% block navbar %}
    {% endblock %}
    {% block content %}
        <article class="container">
            <h3>GymBunnies Privacy Policy</h3>
            <p>This Privacy Policy describes the way we handle any personal data that you provide to us. In accordance with the Data Protection Act 1998, the data controller is GymBunnies.
        <br>
        <br>
        This agreement should be viewed in conjunction with our <a href="{{ url_for('views.user_agreement') }}"><u>User Agreement</u></a>.
        <br>
        <br>
            We may collect and process the following data about you:</p>
            <ul>
            <li>If you contact us requesting further material or services, we may keep a record of correspondence</li>
            </ul>
        <p>We cannot guarantee the security of data you transmit through the Site but we use procedures to prevent unauthorised access to information once it’s received.
        <br>
        <br>
        We may use information you provide us to supply information and updates about our activities, products or services.
        <br>
        <br>
        As per our terms, any unsolicited material received either electronically or through traditional mail services will be disposed of unread.
        <br>
        <br>
        We may disclose your personal information to third parties:</p>
            <ul>
            <li>If GymBunnies is acquired by a third party, as it will be considered an asset.</li>
            <li>If we are obliged to do so in order to comply with a legal obligation, or to protect the rights, property, or safety of GymBunnies. This includes fraud protection.</li>
            </ul>
        <p>We do not process your personal data for marketing purposes.
        <br>
        <br>
        The Act gives you the right to access information held about you.
        <br>
        <br>
        <h4>DEFINITIONS</h4>
        <p>Except to the extent expressly provided otherwise, in this Agreement:
        <br>
        <br>
        "<b>Website</b>" or "<b>Site</b>" means the domain www.market-win.co.uk and all its pages.
        <br>
        <br>
        "<b>Us</b>" or "<b>We</b>" means owners of the website GymBunnies.
        <br>
        <br>
        "<b>You</b>" means visitors to the domain www.market-win.co.uk and all its pages.
        <br>
        <br>
        "<b>the Act</b>" means the Data Protection Act 1998.</p>
        </article>
        <br>
        <br>
    {% endblock %}